<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- 定义日志输出格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

<!--    定义日志存储路径-->
    <property name="LOG_PATH" value="./logs"/>

<!--    定义日志文件前缀-->
    <property name="LOG_FILE_PREFIX" value="dormsys"/>


<!--    本地文件输出-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_PREFIX}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件名格式:按天滚动 + 按大小滚动 (%i 是文件序号)-->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_PREFIX}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志保留天数-->
            <maxHistory>30</maxHistory>
            <!--单个文件大小限制-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--总日志大小限制-->
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
   <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    
</configuration>
